workflows/rag-implementation/workflow.json
{
    "name": "Rag_implementation",
    "nodes": [
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "triggerOn": "specificFolder",
          "folderToWatch": {
            "__rl": true,
            "value": "1Wobnmgk2GNrlzddouVauEFYvzcUgVSMD",
            "mode": "list",
            "cachedResultName": "n8n test",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1Wobnmgk2GNrlzddouVauEFYvzcUgVSMD"
          },
          "event": "fileCreated",
          "options": {}
        },
        "type": "n8n-nodes-base.googleDriveTrigger",
        "typeVersion": 1,
        "position": [
          0,
          208
        ],
        "id": "77d230b8-6208-43b5-bffa-15122172b941",
        "name": "Google Drive Trigger",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "H7zkfXF9YRgZXIT0",
            "name": "Google Drive account 3"
          }
        }
      },
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          224,
          208
        ],
        "id": "ce311335-606d-4627-9839-29bba54f04ef",
        "name": "Download file",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "H7zkfXF9YRgZXIT0",
            "name": "Google Drive account 3"
          }
        }
      },
      {
        "parameters": {
          "mode": "insert",
          "pineconeIndex": {
            "__rl": true,
            "value": "rag",
            "mode": "list",
            "cachedResultName": "rag"
          },
          "embeddingBatchSize": 1000,
          "options": {
            "pineconeNamespace": "n8n_demo"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
        "typeVersion": 1.3,
        "position": [
          480,
          0
        ],
        "id": "34bf4ed6-2751-4ee0-8df4-98d7737f8af6",
        "name": "pinecone",
        "credentials": {
          "pineconeApi": {
            "id": "bLaWQbr0zwjIvre4",
            "name": "PineconeApi account 2"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "typeVersion": 1.2,
        "position": [
          448,
          224
        ],
        "id": "6d08ac78-4b2e-454a-9b9f-d1a54e06de37",
        "name": "Embeddings OpenAI",
        "credentials": {
          "openAiApi": {
            "id": "MmpMA2jZkUJFp0Sn",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "dataType": "binary",
          "textSplittingMode": "custom",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
        "typeVersion": 1.1,
        "position": [
          576,
          224
        ],
        "id": "aaa3c366-9a5c-4f07-82c2-e17b484ecdf1",
        "name": "Default Data Loader"
      },
      {
        "parameters": {},
        "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
        "typeVersion": 1,
        "position": [
          656,
          432
        ],
        "id": "aba61d31-ffc4-42f7-83e5-be5549e5d87e",
        "name": "Character Text Splitter1"
      },
      {
        "parameters": {
          "options": {
            "systemMessage": "Use the tool private_info_fetcher to see that whether the question the user has asked has anything to deal with the data that you get from this tool, if yes then answer that else answer based on your knowledge."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          256,
          848
        ],
        "id": "88b9e921-1c1c-44f9-81f0-4acd634973ee",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chatTrigger",
        "typeVersion": 1.3,
        "position": [
          0,
          848
        ],
        "id": "ef0c32af-d355-4df7-b1e6-f3afc78bda06",
        "name": "When chat message received",
        "webhookId": "2f83be07-c37c-48ef-af33-697ed1a51cc3"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          224,
          1072
        ],
        "id": "c80af8a8-beb9-4696-8b30-42685fba9b22",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "MmpMA2jZkUJFp0Sn",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "typeVersion": 1.2,
        "position": [
          432,
          1280
        ],
        "id": "f043eea1-7170-4631-88f2-40406fc71bd8",
        "name": "Embeddings OpenAI1",
        "credentials": {
          "openAiApi": {
            "id": "MmpMA2jZkUJFp0Sn",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "mode": "retrieve-as-tool",
          "toolDescription": "this is the tool which is able to fetch the private info from pinecone vector db, it has got access to those documents. Use this to get information. ",
          "pineconeIndex": {
            "__rl": true,
            "value": "rag",
            "mode": "list",
            "cachedResultName": "rag"
          },
          "options": {
            "pineconeNamespace": "n8n_demo"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
        "typeVersion": 1.3,
        "position": [
          352,
          1072
        ],
        "id": "75ffbdd2-b1a6-4a85-aead-bc63353c1a4e",
        "name": "private_info_fetcher",
        "credentials": {
          "pineconeApi": {
            "id": "bLaWQbr0zwjIvre4",
            "name": "PineconeApi account 2"
          }
        }
      }
    ],
    "pinData": {},
    "connections": {
      "Google Drive Trigger": {
        "main": [
          [
            {
              "node": "Download file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download file": {
        "main": [
          [
            {
              "node": "pinecone",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings OpenAI": {
        "ai_embedding": [
          [
            {
              "node": "pinecone",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Default Data Loader": {
        "ai_document": [
          [
            {
              "node": "pinecone",
              "type": "ai_document",
              "index": 0
            }
          ]
        ]
      },
      "Character Text Splitter1": {
        "ai_textSplitter": [
          [
            {
              "node": "Default Data Loader",
              "type": "ai_textSplitter",
              "index": 0
            }
          ]
        ]
      },
      "pinecone": {
        "main": [
          []
        ]
      },
      "When chat message received": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings OpenAI1": {
        "ai_embedding": [
          [
            {
              "node": "private_info_fetcher",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "private_info_fetcher": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": true,
    "settings": {
      "executionOrder": "v1"
    },
    "versionId": "edca2488-f6d8-4314-aacf-93d6dfed09b5",
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "3b9c4a36bd382d97736563314cc1d0e0dfaeba252326ce04b11560cd5112fc6d"
    },
    "id": "Jaut9YJEwFYAdo7s",
    "tags": []
  }